<app-scroll>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo mollitia, aperiam a dolores dicta, labore, molestias repellat doloribus in qui quia perspiciatis quis! Veritatis, labore officia nobis praesentium quos culpa!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo mollitia, aperiam a dolores dicta, labore, molestias repellat doloribus in qui quia perspiciatis quis! Veritatis, labore officia nobis praesentium quos culpa!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo mollitia, aperiam a dolores dicta, labore, molestias repellat doloribus in qui quia perspiciatis quis! Veritatis, labore officia nobis praesentium quos culpa!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo mollitia, aperiam a dolores dicta, labore, molestias repellat doloribus in qui quia perspiciatis quis! Veritatis, labore officia nobis praesentium quos culpa!
  </p>
</app-scroll>